In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:85% !important; }</style>"))

C:\Users\pulzara\AppData\Local\Temp\ipykernel_5756\495279268.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [2]:
import numpy as np
import pandas as pd


import warnings
warnings.filterwarnings("ignore")

import logging
logging.getLogger('fbprophet').setLevel(logging.WARNING)


import gc

## Alcazares

In [129]:
alcazares_2010 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/alcazarez/2010_alcazares.csv',encoding="utf-8", header=2)
alcazares_2011 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/alcazarez/2011_alcazares.csv',encoding="utf-8", header=2)    
alcazares_2012 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/alcazarez/2012_alcazares.csv',encoding="utf-8", header=2)    
alcazares_2013 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/alcazarez/2013_alcazares.csv',encoding="utf-8", header=2)    
alcazares_2014 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/alcazarez/2014_alcazares.csv',encoding="utf-8", header=2)    
alcazares_2015 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/alcazarez/2015_alcazares.csv',encoding="utf-8", header=2)    
alcazares_2016 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/alcazarez/2016_alcazares.csv',encoding="utf-8", header=2)    
alcazares_2017 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/alcazarez/2017_alcazares.csv',encoding="utf-8", header=2)    
alcazares_2018 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/alcazarez/2018_alcazares.csv',encoding="utf-8", header=2)    
alcazares_2019 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/alcazarez/2019_alcazares.csv',encoding="utf-8", header=2)    
alcazares_2020 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/alcazarez/2020_alcazares.csv',encoding="utf-8", header=2)

In [130]:
alcazares_2010.columns = alcazares_2010.columns.str.strip()
alcazares_2011.columns = alcazares_2011.columns.str.strip()
alcazares_2012.columns = alcazares_2012.columns.str.strip()
alcazares_2013.columns = alcazares_2013.columns.str.strip()
alcazares_2014.columns = alcazares_2014.columns.str.strip()
alcazares_2015.columns = alcazares_2015.columns.str.strip()
alcazares_2016.columns = alcazares_2016.columns.str.strip()
alcazares_2017.columns = alcazares_2017.columns.str.strip()
alcazares_2018.columns = alcazares_2018.columns.str.strip()
alcazares_2019.columns = alcazares_2019.columns.str.strip()
alcazares_2020.columns = alcazares_2020.columns.str.strip()

In [131]:
alcazares = pd.concat([alcazares_2010, alcazares_2011, alcazares_2012,alcazares_2013,alcazares_2014,alcazares_2015,alcazares_2016,alcazares_2017,
                      alcazares_2018,alcazares_2019, alcazares_2020], axis = 0)

In [132]:
alcazares = alcazares[['Fecha', 'Hora', 'Temperatura(ºC)', 'Velocidad(m/s)', 'Direccion(º)', 'Presion(mmHg)', 'Humedad(%)',
                       'Precipitacion(mm)', 'Radiacion(W/m^2)','Evapotranspiracion(mm)','Precipitacion_Real', 'Evapo_real(mm)']]

In [133]:
alcazares.head(3)

,Fecha,Hora,Temperatura(ºC),Velocidad(m/s),Direccion(º),Presion(mmHg),Humedad(%),Precipitacion(mm),Radiacion(W/m^2),Evapotranspiracion(mm),Precipitacion_Real,Evapo_real(mm)
0,11/03/2010,14:51:02,1802.61,113.98,32767,592.25,255,0.0,32767,0.0,0.0,0.0
1,11/03/2010,14:51:09,1802.61,113.98,32767,592.25,255,0.0,32767,0.0,0.0,0.0
2,11/03/2010,14:51:19,1802.61,113.98,32767,592.25,255,0.0,32767,0.0,0.0,0.0

In [10]:
alcazares.columns

Index(['Fecha', 'Hora', 'Temperatura(ºC)', 'Velocidad(m/s)', 'Direccion(º)',
       'Presion(mmHg)', 'Humedad(%)', 'Precipitacion(mm)', 'Radiacion(W/m^2)',
       'Evapotranspiracion(mm)', 'Precipitacion_Real', 'Evapo_real(mm)'],
      dtype='object')

In [134]:
alcazares = alcazares.replace("-", np.nan)
alcazares = alcazares.apply(lambda x: x.str.replace(',',''))

In [137]:
alcazares.to_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/BD2/alcazares.txt', sep = '|', index=False, header=True)

In [136]:
#d = pd.read_table('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/BD/alcazares.txt',delimiter = '|')

## Aranjuez

In [138]:
aranjuez_2010 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/aranjuez/2010_aranjuez.csv',encoding="utf-8", header=2)
aranjuez_2010_2 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/aranjuez/2010_aranjuez_2.csv',encoding="utf-8", header=2)
aranjuez_2011 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/aranjuez/2011_aranjuez.csv',encoding="utf-8", header=2)    
aranjuez_2012 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/aranjuez/2012_aranjuez.csv',encoding="utf-8", header=2)    
aranjuez_2013 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/aranjuez/2013_aranjuez.csv',encoding="utf-8", header=2)    
aranjuez_2014 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/aranjuez/2014_aranjuez.csv',encoding="utf-8", header=2)    
aranjuez_2015 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/aranjuez/2015_aranjuez.csv',encoding="utf-8", header=2)    
aranjuez_2016 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/aranjuez/2016_aranjuez.csv',encoding="utf-8", header=2)    
aranjuez_2017 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/aranjuez/2017_aranjuez.csv',encoding="utf-8", header=2)    
aranjuez_2018 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/aranjuez/2018_aranjuez.csv',encoding="utf-8", header=2)    
aranjuez_2019 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/aranjuez/2019_aranjuez.csv',encoding="utf-8", header=2)    
aranjuez_2020 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/aranjuez/2020_aranjuez.csv',encoding="utf-8", header=2)

In [139]:
aranjuez_2010.columns = aranjuez_2010.columns.str.strip()
aranjuez_2010_2.columns = aranjuez_2010_2.columns.str.strip()
aranjuez_2011.columns = aranjuez_2011.columns.str.strip()
aranjuez_2012.columns = aranjuez_2012.columns.str.strip()
aranjuez_2013.columns = aranjuez_2013.columns.str.strip()
aranjuez_2014.columns = aranjuez_2014.columns.str.strip()
aranjuez_2015.columns = aranjuez_2015.columns.str.strip()
aranjuez_2016.columns = aranjuez_2016.columns.str.strip()
aranjuez_2017.columns = aranjuez_2017.columns.str.strip()
aranjuez_2018.columns = aranjuez_2018.columns.str.strip()
aranjuez_2019.columns = aranjuez_2019.columns.str.strip()
aranjuez_2020.columns = aranjuez_2020.columns.str.strip()

In [140]:
aranjuez = pd.concat([aranjuez_2010,aranjuez_2010_2,aranjuez_2011,aranjuez_2012,aranjuez_2013,aranjuez_2014,aranjuez_2015,
                      aranjuez_2016,aranjuez_2017,aranjuez_2018,aranjuez_2019,aranjuez_2020], axis = 0)

In [141]:
aranjuez = aranjuez[['Fecha', 'Hora', 'Temperatura(ºC)', 'Velocidad(m/s)', 'Direccion(º)', 'Presion(mmHg)', 'Humedad(%)',
                       'Precipitacion(mm)', 'Radiacion(W/m^2)','Evapotranspiracion(mm)','Precipitacion_Real', 'Evapo_real(mm)']]

In [142]:
aranjuez.head(3)

,Fecha,Hora,Temperatura(ºC),Velocidad(m/s),Direccion(º),Presion(mmHg),Humedad(%),Precipitacion(mm),Radiacion(W/m^2),Evapotranspiracion(mm),Precipitacion_Real,Evapo_real(mm)
0,1/01/2010,0:01:16,1802.61,113.98,32767,606.25,255,0.0,32767,0.0,0.0,0.0
1,1/01/2010,0:06:16,1802.61,113.98,32767,606.25,255,0.0,32767,0.0,0.0,0.0
2,1/01/2010,0:11:17,1802.61,113.98,32767,606.25,255,0.0,32767,0.0,0.0,0.0

In [143]:
aranjuez = aranjuez.replace("-", np.nan)
aranjuez = aranjuez.apply(lambda x: x.str.replace(',',''))

In [28]:
#print(aranjuez["Precipitacion(mm)"].unique().tolist())

In [144]:
aranjuez.to_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/BD2/aranjuez.txt', sep = '|', index=False, header=True)

## Bosques del norte

In [145]:
bosques_del_norte_2010_1 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/bosques del norte/2010_bosques_del_norte_1.csv',encoding="utf-8", header=2)
bosques_del_norte_2010_2 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/bosques del norte/2010_bosques_del_norte_2.csv',encoding="utf-8", header=2)
bosques_del_norte_2011 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/bosques del norte/2011_bosques_del_norte.csv',encoding="utf-8", header=2)    
bosques_del_norte_2012 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/bosques del norte/2012_bosques_del_norte.csv',encoding="utf-8", header=2)    
bosques_del_norte_2013 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/bosques del norte/2013_bosques_del_norte.csv',encoding="utf-8", header=2)    
bosques_del_norte_2014 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/bosques del norte/2014_bosques_del_norte.csv',encoding="utf-8", header=2)    
bosques_del_norte_2015 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/bosques del norte/2015_bosques_del_norte.csv',encoding="utf-8", header=2)    
bosques_del_norte_2016 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/bosques del norte/2016_bosques_del_norte.csv',encoding="utf-8", header=2)    
bosques_del_norte_2017 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/bosques del norte/2017_bosques_del_norte.csv',encoding="utf-8", header=2)    
bosques_del_norte_2018 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/bosques del norte/2018_bosques_del_norte.csv',encoding="utf-8", header=2)    
bosques_del_norte_2019 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/bosques del norte/2019_bosques_del_norte.csv',encoding="utf-8", header=2)    
bosques_del_norte_2020 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/bosques del norte/2020_bosques_del_norte.csv',encoding="utf-8", header=2)

In [146]:
bosques_del_norte_2010_1.columns = bosques_del_norte_2010_1.columns.str.strip()
bosques_del_norte_2010_2.columns = bosques_del_norte_2010_2.columns.str.strip()
bosques_del_norte_2011.columns = bosques_del_norte_2011.columns.str.strip()
bosques_del_norte_2012.columns = bosques_del_norte_2012.columns.str.strip()
bosques_del_norte_2013.columns = bosques_del_norte_2013.columns.str.strip()
bosques_del_norte_2014.columns = bosques_del_norte_2014.columns.str.strip()
bosques_del_norte_2015.columns = bosques_del_norte_2015.columns.str.strip()
bosques_del_norte_2016.columns = bosques_del_norte_2016.columns.str.strip()
bosques_del_norte_2017.columns = bosques_del_norte_2017.columns.str.strip()
bosques_del_norte_2018.columns = bosques_del_norte_2018.columns.str.strip()
bosques_del_norte_2019.columns = bosques_del_norte_2019.columns.str.strip()
bosques_del_norte_2020.columns = bosques_del_norte_2020.columns.str.strip()

In [147]:
bosques_del_norte = pd.concat([bosques_del_norte_2010_1, bosques_del_norte_2010_2,
        bosques_del_norte_2011,
        bosques_del_norte_2012,
        bosques_del_norte_2013,
        bosques_del_norte_2014,
        bosques_del_norte_2015,
        bosques_del_norte_2016,
        bosques_del_norte_2017,
        bosques_del_norte_2018,
        bosques_del_norte_2019,
        bosques_del_norte_2020], axis = 0)

In [148]:
bosques_del_norte = bosques_del_norte[['Fecha', 'Hora', 'Temperatura(ºC)', 'Velocidad(m/s)', 'Direccion(º)', 'Presion(mmHg)', 'Humedad(%)',
                       'Precipitacion(mm)', 'Radiacion(W/m^2)','Evapotranspiracion(mm)','Precipitacion_Real', 'Evapo_real(mm)']]

In [149]:
bosques_del_norte.head(3)

,Fecha,Hora,Temperatura(ºC),Velocidad(m/s),Direccion(º),Presion(mmHg),Humedad(%),Precipitacion(mm),Radiacion(W/m^2),Evapotranspiracion(mm),Precipitacion_Real,Evapo_real(mm)
0,1/01/2010,0:01:22,13.38,0.0,338,587.63,94,0.0,0,0.27,0.0,0.0
1,1/01/2010,0:06:22,13.44,0.0,337,587.35,94,0.0,0,0.0,0.0,0.0
2,1/01/2010,0:11:38,13.44,0.0,337,587.35,94,0.0,0,0.0,0.0,0.0

In [150]:
bosques_del_norte = bosques_del_norte.replace("-", np.nan) 
bosques_del_norte = bosques_del_norte.apply(lambda x: x.str.replace(',',''))

In [51]:
#print(bosques_del_norte["Precipitacion(mm)"].unique().tolist())

In [151]:
bosques_del_norte.to_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/BD2/bosques_del_norte.txt', sep = '|', index=False, header=True)

## Chec uribe

In [152]:
chec_uribe_2011 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/chec uribe/2011_chec_uribe.csv',encoding="utf-8", header=2)    
chec_uribe_2012 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/chec uribe/2012_chec_uribe.csv',encoding="utf-8", header=2)    
chec_uribe_2013 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/chec uribe/2013_chec_uribe.csv',encoding="utf-8", header=2)    
chec_uribe_2014 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/chec uribe/2014_chec_uribe.csv',encoding="utf-8", header=2)    
chec_uribe_2015 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/chec uribe/2015_chec_uribe.csv',encoding="utf-8", header=2)    
chec_uribe_2016 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/chec uribe/2016_chec_uribe.csv',encoding="utf-8", header=2)    
chec_uribe_2017 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/chec uribe/2017_chec_uribe.csv',encoding="utf-8", header=2)    
chec_uribe_2018 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/chec uribe/2018_chec_uribe.csv',encoding="utf-8", header=2)    
chec_uribe_2019 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/chec uribe/2019_chec_uribe.csv',encoding="utf-8", header=2)    
chec_uribe_2020 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/chec uribe/2020_chec_uribe.csv',encoding="utf-8", header=2)

In [153]:
chec_uribe_2011.columns = chec_uribe_2011.columns.str.strip()
chec_uribe_2012.columns = chec_uribe_2012.columns.str.strip()
chec_uribe_2013.columns = chec_uribe_2013.columns.str.strip()
chec_uribe_2014.columns = chec_uribe_2014.columns.str.strip()
chec_uribe_2015.columns = chec_uribe_2015.columns.str.strip()
chec_uribe_2016.columns = chec_uribe_2016.columns.str.strip()
chec_uribe_2017.columns = chec_uribe_2017.columns.str.strip()
chec_uribe_2018.columns = chec_uribe_2018.columns.str.strip()
chec_uribe_2019.columns = chec_uribe_2019.columns.str.strip()
chec_uribe_2020.columns = chec_uribe_2020.columns.str.strip()

In [154]:
chec_uribe = pd.concat([chec_uribe_2011,
        chec_uribe_2012,
        chec_uribe_2013,
        chec_uribe_2014,
        chec_uribe_2015,
        chec_uribe_2016,
        chec_uribe_2017,
        chec_uribe_2018,
        chec_uribe_2019,
        chec_uribe_2020], axis = 0)

In [155]:
chec_uribe = chec_uribe[['Fecha', 'Hora', 'Temperatura(ºC)', 'Velocidad(m/s)', 'Direccion(º)', 'Presion(mmHg)', 'Humedad(%)',
                       'Precipitacion(mm)', 'Radiacion(W/m^2)','Evapotranspiracion(mm)','Precipitacion_Real', 'Evapo_real(mm)']]

In [156]:
chec_uribe.head(3)

,Fecha,Hora,Temperatura(ºC),Velocidad(m/s),Direccion(º),Presion(mmHg),Humedad(%),Precipitacion(mm),Radiacion(W/m^2),Evapotranspiracion(mm),Precipitacion_Real,Evapo_real(mm)
0,15/04/2011,12:05:01,0.0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.0
1,15/04/2011,12:09:08,21.27,0.0,183,607.01,82,0.0,0,0.0,0.0,0.0
2,15/04/2011,12:09:19,21.33,0.0,183,607.01,82,0.0,0,0.0,0.0,0.0

In [157]:
chec_uribe = chec_uribe.replace("-", np.nan)
chec_uribe = chec_uribe.apply(lambda x: x.str.replace(',',''))

In [158]:
chec_uribe.to_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/BD2/chec_uribe.txt', sep = '|', index=False, header=True)

## El carmen

In [175]:
el_carmen_2010_1 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/el carmen/2010_el_carmen_1.csv',encoding="utf-8", header=2)
el_carmen_2010_2 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/el carmen/2010_el_carmen_2.csv',encoding="utf-8", header=2)
el_carmen_2011 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/el carmen/2011_el_carmen.csv',encoding="utf-8", header=2)    
el_carmen_2012 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/el carmen/2012_el_carmen.csv',encoding="utf-8", header=2)    
el_carmen_2013 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/el carmen/2013_el_carmen.csv',encoding="utf-8", header=2)    
el_carmen_2014 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/el carmen/2014_el_carmen.csv',encoding="utf-8", header=2)    
el_carmen_2015 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/el carmen/2015_el_carmen.csv',encoding="utf-8", header=2)    
el_carmen_2016 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/el carmen/2016_el_carmen.csv',encoding="utf-8", header=2)    
el_carmen_2017 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/el carmen/2017_el_carmen.csv',encoding="utf-8", header=2)    
el_carmen_2018 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/el carmen/2018_el_carmen.csv',encoding="utf-8", header=2)    
el_carmen_2019 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/el carmen/2019_el_carmen.csv',encoding="utf-8", header=2)    
el_carmen_2020 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/el carmen/2020_el_carmen.csv',encoding="utf-8", header=2)

In [176]:
el_carmen_2010_1.columns = el_carmen_2010_1.columns.str.strip()
el_carmen_2010_2.columns = el_carmen_2010_2.columns.str.strip()
el_carmen_2011.columns = el_carmen_2011.columns.str.strip()
el_carmen_2012.columns = el_carmen_2012.columns.str.strip()
el_carmen_2013.columns = el_carmen_2013.columns.str.strip()
el_carmen_2014.columns = el_carmen_2014.columns.str.strip()
el_carmen_2015.columns = el_carmen_2015.columns.str.strip()
el_carmen_2016.columns = el_carmen_2016.columns.str.strip()
el_carmen_2017.columns = el_carmen_2017.columns.str.strip()
el_carmen_2018.columns = el_carmen_2018.columns.str.strip()
el_carmen_2019.columns = el_carmen_2019.columns.str.strip()
el_carmen_2020.columns = el_carmen_2020.columns.str.strip()

In [177]:
el_carmen = pd.concat([el_carmen_2010_1,
        el_carmen_2010_2,
        el_carmen_2011,
        el_carmen_2012,
        el_carmen_2013,
        el_carmen_2014,
        el_carmen_2015,
        el_carmen_2016,
        el_carmen_2017,
        el_carmen_2018,
        el_carmen_2019,
        el_carmen_2020], axis = 0)

In [178]:
el_carmen = el_carmen[['Fecha', 'Hora', 'Temperatura(ºC)', 'Velocidad(m/s)', 'Direccion(º)', 'Presion(mmHg)', 'Humedad(%)',
                       'Precipitacion(mm)', 'Radiacion(W/m^2)','Evapotranspiracion(mm)','Precipitacion_Real', 'Evapo_real(mm)']]

In [163]:
el_carmen.head(3)

,Fecha,Hora,Temperatura(ºC),Velocidad(m/s),Direccion(º),Presion(mmHg),Humedad(%),Precipitacion(mm),Radiacion(W/m^2),Evapotranspiracion(mm),Precipitacion_Real,Evapo_real(mm)
0,1/01/2010,0:01:26,14.55,0.0,81,596.29,75,992.37,0,596.11,0.0,0.0
1,1/01/2010,0:06:27,14.5,0.0,81,596.24,76,992.37,0,596.11,0.0,0.0
2,1/01/2010,0:11:42,14.55,0.0,81,596.24,76,992.37,0,596.11,0.0,0.0

In [182]:
el_carmen = el_carmen.replace("-", np.nan)  
el_carmen = el_carmen.apply(lambda x: x.str.replace(',',''))

In [186]:
el_carmen[el_carmen["Temperatura(ºC)"] == 'NaN']

Empty DataFrame
Columns: [Fecha, Hora, Temperatura(ºC), Velocidad(m/s), Direccion(º), Presion(mmHg), Humedad(%), Precipitacion(mm), Radiacion(W/m^2), Evapotranspiracion(mm), Precipitacion_Real, Evapo_real(mm)]
Index: []

In [187]:
el_carmen.to_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/BD2/el_carmen.txt', sep = '|', index=False, header=True)

## Emas

In [188]:
emas_2010_1 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/emas/2010_emas_1.csv',encoding="utf-8", header=2)
emas_2010_2 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/emas/2010_emas_2.csv',encoding="utf-8", header=2)
emas_2011 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/emas/2011_emas.csv',encoding="utf-8", header=2)    
emas_2012 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/emas/2012_emas.csv',encoding="utf-8", header=2)    
emas_2013 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/emas/2013_emas.csv',encoding="utf-8", header=2)    
emas_2014 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/emas/2014_emas.csv',encoding="utf-8", header=2)    
emas_2015 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/emas/2015_emas.csv',encoding="utf-8", header=2)    
emas_2016 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/emas/2016_emas.csv',encoding="utf-8", header=2)    
emas_2017 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/emas/2017_emas.csv',encoding="utf-8", header=2)    
emas_2018 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/emas/2018_emas.csv',encoding="utf-8", header=2)    
emas_2019 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/emas/2019_emas.csv',encoding="utf-8", header=2)    
emas_2020 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/emas/2020_emas.csv',encoding="utf-8", header=2)

In [189]:
emas_2010_1.columns = emas_2010_1.columns.str.strip()
emas_2010_2.columns = emas_2010_2.columns.str.strip()
emas_2011.columns = emas_2011.columns.str.strip()
emas_2012.columns = emas_2012.columns.str.strip()
emas_2013.columns = emas_2013.columns.str.strip()
emas_2014.columns = emas_2014.columns.str.strip()
emas_2015.columns = emas_2015.columns.str.strip()
emas_2016.columns = emas_2016.columns.str.strip()
emas_2017.columns = emas_2017.columns.str.strip()
emas_2018.columns = emas_2018.columns.str.strip()
emas_2019.columns = emas_2019.columns.str.strip()
emas_2020.columns = emas_2020.columns.str.strip()

In [190]:
emas = pd.concat([emas_2010_1,
        emas_2010_2,
        emas_2011,
        emas_2012,
        emas_2013,
        emas_2014,
        emas_2015,
        emas_2016,
        emas_2017,
        emas_2018,
        emas_2019,
        emas_2020,], axis = 0)

In [191]:
emas = emas[['Fecha', 'Hora', 'Temperatura(ºC)', 'Velocidad(m/s)', 'Direccion(º)', 'Presion(mmHg)', 'Humedad(%)',
                       'Precipitacion(mm)', 'Radiacion(W/m^2)','Evapotranspiracion(mm)','Precipitacion_Real', 'Evapo_real(mm)']]

In [192]:
emas.head(3)

,Fecha,Hora,Temperatura(ºC),Velocidad(m/s),Direccion(º),Presion(mmHg),Humedad(%),Precipitacion(mm),Radiacion(W/m^2),Evapotranspiracion(mm),Precipitacion_Real,Evapo_real(mm)
0,1/01/2010,0:01:30,13.44,0.0,24,597.61,91,0.0,0,2.92,0.0,0.0
1,1/01/2010,0:06:31,13.44,1.34,24,597.59,91,0.0,0,0.0,0.0,0.0
2,1/01/2010,0:11:46,13.44,1.34,24,597.59,91,0.0,0,0.0,0.0,0.0

In [193]:
emas = emas.replace("-", np.nan)  
emas = emas.apply(lambda x: x.str.replace(',',''))

In [194]:
emas.to_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/BD2/emas.txt', sep = '|', index=False, header=True)

## Hospital de caldas

In [195]:
hospital_caldas_2010_1 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/hospital de caldas/2010_hospital_de_caldas_1.csv',encoding="utf-8", header=2)
hospital_caldas_2010_2 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/hospital de caldas/2010_hospital_de_caldas_2.csv',encoding="utf-8", header=2)
hospital_caldas_2011 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/hospital de caldas/2011_hospital_de_caldas.csv',encoding="utf-8", header=2)    
hospital_caldas_2012 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/hospital de caldas/2012_hospital_de_caldas.csv',encoding="utf-8", header=2)    
hospital_caldas_2013 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/hospital de caldas/2013_hospital_de_caldas.csv',encoding="utf-8", header=2)    
hospital_caldas_2014 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/hospital de caldas/2014_hospital_de_caldas.csv',encoding="utf-8", header=2)    
hospital_caldas_2015 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/hospital de caldas/2015_hospital_de_caldas.csv',encoding="utf-8", header=2)    
hospital_caldas_2016 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/hospital de caldas/2016_hospital_de_caldas.csv',encoding="utf-8", header=2)    
hospital_caldas_2017 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/hospital de caldas/2017_hospital_de_caldas.csv',encoding="utf-8", header=2)    
hospital_caldas_2018 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/hospital de caldas/2018_hospital_de_caldas.csv',encoding="utf-8", header=2)    
hospital_caldas_2019 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/hospital de caldas/2019_hospital_de_caldas.csv',encoding="utf-8", header=2)    
hospital_caldas_2020 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/hospital de caldas/2020_hospital_de_caldas.csv',encoding="utf-8", header=2)

In [196]:
hospital_caldas_2010_1.columns = hospital_caldas_2010_1.columns.str.strip()
hospital_caldas_2010_2.columns = hospital_caldas_2010_2.columns.str.strip()
hospital_caldas_2011.columns = hospital_caldas_2011.columns.str.strip()
hospital_caldas_2012.columns = hospital_caldas_2012.columns.str.strip()
hospital_caldas_2013.columns = hospital_caldas_2013.columns.str.strip()
hospital_caldas_2014.columns = hospital_caldas_2014.columns.str.strip()
hospital_caldas_2015.columns = hospital_caldas_2015.columns.str.strip()
hospital_caldas_2016.columns = hospital_caldas_2016.columns.str.strip()
hospital_caldas_2017.columns = hospital_caldas_2017.columns.str.strip()
hospital_caldas_2018.columns = hospital_caldas_2018.columns.str.strip()
hospital_caldas_2019.columns = hospital_caldas_2019.columns.str.strip()
hospital_caldas_2020.columns = hospital_caldas_2020.columns.str.strip()

In [197]:
hospital_caldas = pd.concat([hospital_caldas_2010_1,
        hospital_caldas_2010_2,
        hospital_caldas_2011,
        hospital_caldas_2012,
        hospital_caldas_2013,
        hospital_caldas_2014,
        hospital_caldas_2015,
        hospital_caldas_2016,
        hospital_caldas_2017,
        hospital_caldas_2018,
        hospital_caldas_2019,
        hospital_caldas_2020,], axis = 0)

In [198]:
hospital_caldas = hospital_caldas[['Fecha', 'Hora', 'Temperatura(ºC)', 'Velocidad(m/s)', 'Direccion(º)', 'Presion(mmHg)', 'Humedad(%)',
                       'Precipitacion(mm)', 'Radiacion(W/m^2)','Evapotranspiracion(mm)','Precipitacion_Real', 'Evapo_real(mm)']]

In [199]:
hospital_caldas = hospital_caldas.replace("-", np.nan) 
hospital_caldas = hospital_caldas.apply(lambda x: x.str.replace(',',''))

In [67]:
hospital_caldas.head(3)

,Fecha,Hora,Temperatura(ºC),Velocidad(m/s),Direccion(º),Presion(mmHg),Humedad(%),Precipitacion(mm),Radiacion(W/m^2),Evapotranspiracion(mm),Precipitacion_Real,Evapo_real(mm)
0,1/01/2010,0:01:51,15.0,0.0,94,588.54,82,0.0,0,3.07,0.0,0.02
1,1/01/2010,0:06:41,14.83,1.34,102,588.39,82,0.0,0,3.07,0.0,0.0
2,1/01/2010,0:11:57,15.0,1.78,100,588.47,80,0.0,0,3.07,0.0,0.0

In [200]:
hospital_caldas.to_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/BD2/hospital_caldas.txt', sep = '|', index=False, header=True)

## La nubia

In [201]:
la_nubia_2010_1 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la nubia/2010_la_nubia_1.csv',encoding="utf-8", header=2)
la_nubia_2010_2 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la nubia/2010_la_nubia_2.csv',encoding="utf-8", header=2)
la_nubia_2011 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la nubia/2011_la_nubia.csv',encoding="utf-8", header=2)    
la_nubia_2012 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la nubia/2012_la_nubia.csv',encoding="utf-8", header=2)    
la_nubia_2013 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la nubia/2013_la_nubia.csv',encoding="utf-8", header=2)    
la_nubia_2014 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la nubia/2014_la_nubia.csv',encoding="utf-8", header=2)    
la_nubia_2015 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la nubia/2015_la_nubia.csv',encoding="utf-8", header=2)    
la_nubia_2016 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la nubia/2016_la_nubia.csv',encoding="utf-8", header=2)    
la_nubia_2017 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la nubia/2017_la_nubia.csv',encoding="utf-8", header=2)    
la_nubia_2018 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la nubia/2018_la_nubia.csv',encoding="utf-8", header=2)    
la_nubia_2019 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la nubia/2019_la_nubia.csv',encoding="utf-8", header=2)    
la_nubia_2020 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la nubia/2020_la_nubia.csv',encoding="utf-8", header=2)

In [202]:
la_nubia_2010_1.columns = la_nubia_2010_1.columns.str.strip()
la_nubia_2010_2.columns = la_nubia_2010_2.columns.str.strip()
la_nubia_2011.columns = la_nubia_2011.columns.str.strip()
la_nubia_2012.columns = la_nubia_2012.columns.str.strip()
la_nubia_2013.columns = la_nubia_2013.columns.str.strip()
la_nubia_2014.columns = la_nubia_2014.columns.str.strip()
la_nubia_2015.columns = la_nubia_2015.columns.str.strip()
la_nubia_2016.columns = la_nubia_2016.columns.str.strip()
la_nubia_2017.columns = la_nubia_2017.columns.str.strip()
la_nubia_2018.columns = la_nubia_2018.columns.str.strip()
la_nubia_2019.columns = la_nubia_2019.columns.str.strip()
la_nubia_2020.columns = la_nubia_2020.columns.str.strip()

In [203]:
la_nubia = pd.concat([la_nubia_2010_1,
        la_nubia_2010_2,
        la_nubia_2011,
        la_nubia_2012,
        la_nubia_2013,
        la_nubia_2014,
        la_nubia_2015,
        la_nubia_2016,
        la_nubia_2017,
        la_nubia_2018,
        la_nubia_2019,
        la_nubia_2020,], axis = 0)

In [204]:
la_nubia = la_nubia[['Fecha', 'Hora', 'Temperatura(ºC)', 'Velocidad(m/s)', 'Direccion(º)', 'Presion(mmHg)', 'Humedad(%)',
                       'Precipitacion(mm)', 'Radiacion(W/m^2)','Evapotranspiracion(mm)','Precipitacion_Real', 'Evapo_real(mm)']]

In [205]:
la_nubia.head(3)

,Fecha,Hora,Temperatura(ºC),Velocidad(m/s),Direccion(º),Presion(mmHg),Humedad(%),Precipitacion(mm),Radiacion(W/m^2),Evapotranspiracion(mm),Precipitacion_Real,Evapo_real(mm)
0,1/01/2010,0:01:44,12.27,1.34,121,601.86,84,928.11,0,756.7,0,0.0
1,1/01/2010,0:06:35,12.38,1.34,113,601.91,84,928.11,0,756.7,0,0.0
2,1/01/2010,0:11:51,12.38,0.0,135,601.88,83,928.11,0,756.7,0,0.0

In [206]:
la_nubia = la_nubia.replace("-", np.nan) 
la_nubia = la_nubia.apply(lambda x: x.str.replace(',',''))

In [207]:
la_nubia.to_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/BD2/la_nubia.txt', sep = '|', index=False, header=True)

## La palma

In [208]:
la_palma_2010_1 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la palma/2010_la_palma_1.csv',encoding="utf-8", header=2)
la_palma_2010_2 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la palma/2010_la_palma_2.csv',encoding="utf-8", header=2)
la_palma_2011 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la palma/2011_la_palma.csv',encoding="utf-8", header=2)    
la_palma_2012 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la palma/2012_la_palma.csv',encoding="utf-8", header=2)    
la_palma_2013 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la palma/2013_la_palma.csv',encoding="utf-8", header=2)    
la_palma_2014 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la palma/2014_la_palma.csv',encoding="utf-8", header=2)    
la_palma_2015 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la palma/2015_la_palma.csv',encoding="utf-8", header=2)    
la_palma_2016 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la palma/2016_la_palma.csv',encoding="utf-8", header=2)    
la_palma_2017 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la palma/2017_la_palma.csv',encoding="utf-8", header=2)    
la_palma_2018 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la palma/2018_la_palma.csv',encoding="utf-8", header=2)    
la_palma_2019 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la palma/2019_la_palma.csv',encoding="utf-8", header=2)    
la_palma_2020 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/la palma/2020_la_palma.csv',encoding="utf-8", header=2)

In [209]:
la_palma_2010_1.columns = la_palma_2010_1.columns.str.strip()
la_palma_2010_2.columns = la_palma_2010_2.columns.str.strip()
la_palma_2011.columns = la_palma_2011.columns.str.strip()
la_palma_2012.columns = la_palma_2012.columns.str.strip()
la_palma_2013.columns = la_palma_2013.columns.str.strip()
la_palma_2014.columns = la_palma_2014.columns.str.strip()
la_palma_2015.columns = la_palma_2015.columns.str.strip()
la_palma_2016.columns = la_palma_2016.columns.str.strip()
la_palma_2017.columns = la_palma_2017.columns.str.strip()
la_palma_2018.columns = la_palma_2018.columns.str.strip()
la_palma_2019.columns = la_palma_2019.columns.str.strip()
la_palma_2020.columns = la_palma_2020.columns.str.strip()

In [210]:
la_palma = pd.concat([la_palma_2010_1,
        la_palma_2010_2,
        la_palma_2011,
        la_palma_2012,
        la_palma_2013,
        la_palma_2014,
        la_palma_2015,
        la_palma_2016,
        la_palma_2017,
        la_palma_2018,
        la_palma_2019,
        la_palma_2020,], axis = 0)

In [211]:
la_palma = la_palma[['Fecha', 'Hora', 'Temperatura(ºC)', 'Velocidad(m/s)', 'Direccion(º)', 'Presion(mmHg)', 'Humedad(%)',
                       'Precipitacion(mm)', 'Radiacion(W/m^2)','Evapotranspiracion(mm)','Precipitacion_Real', 'Evapo_real(mm)']]

In [80]:
la_palma.head(3)

,Fecha,Hora,Temperatura(ºC),Velocidad(m/s),Direccion(º),Presion(mmHg),Humedad(%),Precipitacion(mm),Radiacion(W/m^2),Evapotranspiracion(mm),Precipitacion_Real,Evapo_real(mm)
0,1/01/2010,0:02:01,18.22,0.0,165,608.26,84,0.0,0,2.84,0.0,0.0
1,1/01/2010,0:06:52,18.11,0.0,165,607.88,83,0.0,0,0.0,0.0,0.0
2,1/01/2010,0:12:08,18.16,0.0,165,607.83,82,0.0,0,0.0,0.0,0.0

In [212]:
la_palma = la_palma.replace("-", np.nan) 
la_palma = la_palma.apply(lambda x: x.str.replace(',',''))

In [213]:
la_palma.to_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/BD2/la_palma.txt', sep = '|', index=False, header=True)

## Milan planta niza

In [214]:
milan_2010_1 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/milan planta niza 2/2010_milan_planta_niza_1.csv',encoding="utf-8", header=2)
milan_2010_2 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/milan planta niza 2/2010_milan_planta_niza_2.csv',encoding="utf-8", header=2)
milan_2011 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/milan planta niza 2/2011_milan_planta_niza.csv',encoding="utf-8", header=2)    
milan_2012 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/milan planta niza 2/2012_milan_planta_niza.csv',encoding="utf-8", header=2)    
milan_2013 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/milan planta niza 2/2013_milan_planta_niza.csv',encoding="utf-8", header=2)    
milan_2014 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/milan planta niza 2/2014_milan_planta_niza.csv',encoding="utf-8", header=2)    
milan_2015 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/milan planta niza 2/2015_milan_planta_niza.csv',encoding="utf-8", header=2)    
milan_2016 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/milan planta niza 2/2016_milan_planta_niza.csv',encoding="utf-8", header=2)    
milan_2017 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/milan planta niza 2/2017_milan_planta_niza.csv',encoding="utf-8", header=2)    
milan_2018 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/milan planta niza 2/2018_milan_planta_niza.csv',encoding="utf-8", header=2)    
milan_2019 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/milan planta niza 2/2019_milan_planta_niza.csv',encoding="utf-8", header=2)    
milan_2020 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/milan planta niza 2/2020_milan_planta_niza.csv',encoding="utf-8", header=2)

In [215]:
milan_2010_1.columns = milan_2010_1.columns.str.strip()
milan_2010_2.columns = milan_2010_2.columns.str.strip()
milan_2011.columns = milan_2011.columns.str.strip()
milan_2012.columns = milan_2012.columns.str.strip()
milan_2013.columns = milan_2013.columns.str.strip()
milan_2014.columns = milan_2014.columns.str.strip()
milan_2015.columns = milan_2015.columns.str.strip()
milan_2016.columns = milan_2016.columns.str.strip()
milan_2017.columns = milan_2017.columns.str.strip()
milan_2018.columns = milan_2018.columns.str.strip()
milan_2019.columns = milan_2019.columns.str.strip()
milan_2020.columns = milan_2020.columns.str.strip()

In [216]:
milan = pd.concat([milan_2010_1,
        milan_2010_2,
        milan_2011,
        milan_2012,
        milan_2013,
        milan_2014,
        milan_2015,
        milan_2016,
        milan_2017,
        milan_2018,
        milan_2019,
        milan_2020,], axis = 0)

In [217]:
milan = milan[['Fecha', 'Hora', 'Temperatura(ºC)', 'Velocidad(m/s)', 'Direccion(º)', 'Presion(mmHg)', 'Humedad(%)',
                       'Precipitacion(mm)', 'Radiacion(W/m^2)','Evapotranspiracion(mm)','Precipitacion_Real', 'Evapo_real(mm)']]

In [87]:
milan.head(3)

,Fecha,Hora,Temperatura(ºC),Velocidad(m/s),Direccion(º),Presion(mmHg),Humedad(%),Precipitacion(mm),Radiacion(W/m^2),Evapotranspiracion(mm),Precipitacion_Real,Evapo_real(mm)
0,1/01/2010,0:02:07,14.83,0.44,125,586.31,80,0.0,0,0.0,0.0,0.0
1,1/01/2010,0:06:58,14.88,0.0,125,586.23,80,0.0,0,0.0,0.0,0.0
2,1/01/2010,0:12:16,14.83,0.44,125,586.23,79,0.0,0,0.0,0.0,0.0

In [218]:
milan = milan.replace("-", np.nan) 
milan = milan.apply(lambda x: x.str.replace(',',''))

In [219]:
milan.to_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/BD2/milan.txt', sep = '|', index=False, header=True)

## Observatorio vulcanologico

In [220]:
obs_vulcanologico_2010_1 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/obs vulcanologico/2010_obs_vulcanologico_1.csv',encoding="utf-8", header=2)
obs_vulcanologico_2010_2 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/obs vulcanologico/2010_obs_vulcanologico_2.csv',encoding="utf-8", header=2)
obs_vulcanologico_2011 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/obs vulcanologico/2011_obs_vulcanologico.csv',encoding="utf-8", header=2)    
obs_vulcanologico_2012 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/obs vulcanologico/2012_obs_vulcanologico.csv',encoding="utf-8", header=2)    
obs_vulcanologico_2013 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/obs vulcanologico/2013_obs_vulcanologico.csv',encoding="utf-8", header=2)    
obs_vulcanologico_2014 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/obs vulcanologico/2014_obs_vulcanologico.csv',encoding="utf-8", header=2)    
obs_vulcanologico_2015 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/obs vulcanologico/2015_obs_vulcanologico.csv',encoding="utf-8", header=2)    
obs_vulcanologico_2016 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/obs vulcanologico/2016_obs_vulcanologico.csv',encoding="utf-8", header=2)    
obs_vulcanologico_2017 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/obs vulcanologico/2017_obs_vulcanologico.csv',encoding="utf-8", header=2)    
obs_vulcanologico_2018 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/obs vulcanologico/2018_obs_vulcanologico.csv',encoding="utf-8", header=2)    
obs_vulcanologico_2019 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/obs vulcanologico/2019_obs_vulcanologico.csv',encoding="utf-8", header=2)    
obs_vulcanologico_2020 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/obs vulcanologico/2020_obs_vulcanologico.csv',encoding="utf-8", header=2)

In [221]:
obs_vulcanologico_2010_1.columns = obs_vulcanologico_2010_1.columns.str.strip()
obs_vulcanologico_2010_2.columns = obs_vulcanologico_2010_2.columns.str.strip()
obs_vulcanologico_2011.columns = obs_vulcanologico_2011.columns.str.strip()
obs_vulcanologico_2012.columns = obs_vulcanologico_2012.columns.str.strip()
obs_vulcanologico_2013.columns = obs_vulcanologico_2013.columns.str.strip()
obs_vulcanologico_2014.columns = obs_vulcanologico_2014.columns.str.strip()
obs_vulcanologico_2015.columns = obs_vulcanologico_2015.columns.str.strip()
obs_vulcanologico_2016.columns = obs_vulcanologico_2016.columns.str.strip()
obs_vulcanologico_2017.columns = obs_vulcanologico_2017.columns.str.strip()
obs_vulcanologico_2018.columns = obs_vulcanologico_2018.columns.str.strip()
obs_vulcanologico_2019.columns = obs_vulcanologico_2019.columns.str.strip()
obs_vulcanologico_2020.columns = obs_vulcanologico_2020.columns.str.strip()

In [222]:
obs_vulcanologico = pd.concat([obs_vulcanologico_2010_1,
        obs_vulcanologico_2010_2,
        obs_vulcanologico_2011,
        obs_vulcanologico_2012,
        obs_vulcanologico_2013,
        obs_vulcanologico_2014,
        obs_vulcanologico_2015,
        obs_vulcanologico_2016,
        obs_vulcanologico_2017,
        obs_vulcanologico_2018,
        obs_vulcanologico_2019,
        obs_vulcanologico_2020,], axis = 0)

In [223]:
obs_vulcanologico = obs_vulcanologico[['Fecha', 'Hora', 'Temperatura(ºC)', 'Velocidad(m/s)', 'Direccion(º)', 'Presion(mmHg)', 'Humedad(%)',
                       'Precipitacion(mm)', 'Radiacion(W/m^2)','Evapotranspiracion(mm)','Precipitacion_Real', 'Evapo_real(mm)']]

In [94]:
obs_vulcanologico.head(3)

,Fecha,Hora,Temperatura(ºC),Velocidad(m/s),Direccion(º),Presion(mmHg),Humedad(%),Precipitacion(mm),Radiacion(W/m^2),Evapotranspiracion(mm),Precipitacion_Real,Evapo_real(mm)
0,1/01/2010,0:01:55,14.72,0.0,247,590.68,74,852.17,0,386.74,0.0,0.0
1,1/01/2010,0:06:45,14.61,0.0,247,590.68,76,852.17,0,386.74,0.0,0.0
2,1/01/2010,0:12:02,14.61,0.0,247,590.75,78,852.17,0,386.74,0.0,0.0

In [224]:
obs_vulcanologico = obs_vulcanologico.replace("-", np.nan) 
obs_vulcanologico = obs_vulcanologico.apply(lambda x: x.str.replace(',',''))

In [225]:
obs_vulcanologico.to_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/BD2/obs_vulcanologico.txt', sep = '|', index=False, header=True)

## Posgrados

In [226]:
posgrados_2010_1 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/posgrados/2010_posgrados_1.csv',encoding="utf-8", header=2)
posgrados_2010_2 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/posgrados/2010_posgrados_2.csv',encoding="utf-8", header=2)
posgrados_2011 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/posgrados/2011_posgrados.csv',encoding="utf-8", header=2)    
posgrados_2012 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/posgrados/2012_posgrados.csv',encoding="utf-8", header=2)    
posgrados_2013 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/posgrados/2013_posgrados.csv',encoding="utf-8", header=2)    
posgrados_2014 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/posgrados/2014_posgrados.csv',encoding="utf-8", header=2)    
posgrados_2015 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/posgrados/2015_posgrados.csv',encoding="utf-8", header=2)    
posgrados_2016 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/posgrados/2016_posgrados.csv',encoding="utf-8", header=2)    
posgrados_2017 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/posgrados/2017_posgrados.csv',encoding="utf-8", header=2)    
posgrados_2018 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/posgrados/2018_posgrados.csv',encoding="utf-8", header=2)    
posgrados_2019 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/posgrados/2019_posgrados.csv',encoding="utf-8", header=2)    
posgrados_2020 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/posgrados/2020_posgrados.csv',encoding="utf-8", header=2)

In [227]:
posgrados_2010_1.columns = posgrados_2010_1.columns.str.strip()
posgrados_2010_2.columns = posgrados_2010_2.columns.str.strip()
posgrados_2011.columns = posgrados_2011.columns.str.strip()
posgrados_2012.columns = posgrados_2012.columns.str.strip()
posgrados_2013.columns = posgrados_2013.columns.str.strip()
posgrados_2014.columns = posgrados_2014.columns.str.strip()
posgrados_2015.columns = posgrados_2015.columns.str.strip()
posgrados_2016.columns = posgrados_2016.columns.str.strip()
posgrados_2017.columns = posgrados_2017.columns.str.strip()
posgrados_2018.columns = posgrados_2018.columns.str.strip()
posgrados_2019.columns = posgrados_2019.columns.str.strip()
posgrados_2020.columns = posgrados_2020.columns.str.strip()

In [228]:
posgrados = pd.concat([posgrados_2010_1,
        posgrados_2010_2,
        posgrados_2011,
        posgrados_2012,
        posgrados_2013,
        posgrados_2014,
        posgrados_2015,
        posgrados_2016,
        posgrados_2017,
        posgrados_2018,
        posgrados_2019,
        posgrados_2020,], axis = 0)

In [229]:
posgrados = posgrados[['Fecha', 'Hora', 'Temperatura(ºC)', 'Velocidad(m/s)', 'Direccion(º)', 'Presion(mmHg)', 'Humedad(%)',
                       'Precipitacion(mm)', 'Radiacion(W/m^2)','Evapotranspiracion(mm)','Precipitacion_Real', 'Evapo_real(mm)']]

In [101]:
posgrados.head(3)

,Fecha,Hora,Temperatura(ºC),Velocidad(m/s),Direccion(º),Presion(mmHg),Humedad(%),Precipitacion(mm),Radiacion(W/m^2),Evapotranspiracion(mm),Precipitacion_Real,Evapo_real(mm)
0,1/01/2010,0:02:13,13.55,0.44,147,591.54,88,79.75,0,63.01,0.0,0.0
1,1/01/2010,0:07:02,13.55,0.44,147,591.54,88,79.75,0,63.01,0.0,0.0
2,1/01/2010,0:12:22,13.55,0.89,146,591.54,88,79.75,0,63.01,0.0,0.0

In [230]:
posgrados = posgrados.replace("-", np.nan) 
posgrados = posgrados.apply(lambda x: x.str.replace(',',''))

In [231]:
posgrados.to_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/BD2/posgrados.txt', sep = '|', index=False, header=True)

## Palogrande

In [232]:
palogrande_2010_1 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/q palogrande/2010_q_palogrande_ruta30_1.csv',encoding="utf-8", header=2)
palogrande_2010_2 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/q palogrande/2010_q_palogrande_ruta30_2.csv',encoding="utf-8", header=2)
palogrande_2011 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/q palogrande/2011_q_palogrande_ruta30.csv',encoding="utf-8", header=2)    
palogrande_2012 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/q palogrande/2012_q_palogrande_ruta30.csv',encoding="utf-8", header=2)    
palogrande_2013 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/q palogrande/2013_q_palogrande_ruta30.csv',encoding="utf-8", header=2)    
palogrande_2014 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/q palogrande/2014_q_palogrande_ruta30.csv',encoding="utf-8", header=2)    
palogrande_2015 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/q palogrande/2015_q_palogrande_ruta30.csv',encoding="utf-8", header=2)    
palogrande_2016 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/q palogrande/2016_q_palogrande_ruta30.csv',encoding="utf-8", header=2)    
palogrande_2017 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/q palogrande/2017_q_palogrande_ruta30.csv',encoding="utf-8", header=2)    
palogrande_2018 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/q palogrande/2018_q_palogrande_ruta30.csv',encoding="utf-8", header=2)    
palogrande_2019 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/q palogrande/2019_q_palogrande_ruta30.csv',encoding="utf-8", header=2)    
palogrande_2020 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/q palogrande/2020_q_palogrande_ruta30.csv',encoding="utf-8", header=2)

In [233]:
palogrande_2010_1.columns = palogrande_2010_1.columns.str.strip()
palogrande_2010_2.columns = palogrande_2010_2.columns.str.strip()
palogrande_2011.columns = palogrande_2011.columns.str.strip()
palogrande_2012.columns = palogrande_2012.columns.str.strip()
palogrande_2013.columns = palogrande_2013.columns.str.strip()
palogrande_2014.columns = palogrande_2014.columns.str.strip()
palogrande_2015.columns = palogrande_2015.columns.str.strip()
palogrande_2016.columns = palogrande_2016.columns.str.strip()
palogrande_2017.columns = palogrande_2017.columns.str.strip()
palogrande_2018.columns = palogrande_2018.columns.str.strip()
palogrande_2019.columns = palogrande_2019.columns.str.strip()
palogrande_2020.columns = palogrande_2020.columns.str.strip()

In [234]:
palogrande = pd.concat([palogrande_2010_1,
        palogrande_2010_2,
        palogrande_2011,
        palogrande_2012,
        palogrande_2013,
        palogrande_2014,
        palogrande_2015,
        palogrande_2016,
        palogrande_2017,
        palogrande_2018,
        palogrande_2019,
        palogrande_2020,], axis = 0)

In [235]:
palogrande = palogrande[['Fecha', 'Hora', 'Temperatura(ºC)', 'Velocidad(m/s)', 'Direccion(º)', 'Presion(mmHg)', 'Humedad(%)',
                       'Precipitacion(mm)', 'Radiacion(W/m^2)','Evapotranspiracion(mm)','Precipitacion_Real', 'Evapo_real(mm)']]

In [108]:
palogrande.tail(3)

,Fecha,Hora,Temperatura(ºC),Velocidad(m/s),Direccion(º),Presion(mmHg),Humedad(%),Precipitacion(mm),Radiacion(W/m^2),Evapotranspiracion(mm),Precipitacion_Real,Evapo_real(mm)
101538,31/12/2020,23:45:00,-,NaN,NaN,NaN,NaN,76.4,NaN,NaN,0.0,NaN
101539,31/12/2020,23:50:00,-,NaN,NaN,NaN,NaN,76.4,NaN,NaN,0.0,NaN
101540,31/12/2020,23:55:00,-,NaN,NaN,NaN,NaN,76.4,NaN,NaN,0.0,NaN

In [237]:
palogrande = palogrande.replace("-", np.nan) 
palogrande = palogrande.apply(lambda x: x.replace(',',''))

In [240]:
palogrande.to_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/BD2/palogrande.txt', sep = '|', index=False, header=True)

## Yarumos

In [241]:
yarumos_2010_1 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/yarumos/2010_yarumos_1.csv',encoding="utf-8", header=2)
yarumos_2010_2 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/yarumos/2010_yarumos_2.csv',encoding="utf-8", header=2)
yarumos_2011 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/yarumos/2011_yarumos.csv',encoding="utf-8", header=2)    
yarumos_2012 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/yarumos/2012_yarumos.csv',encoding="utf-8", header=2)    
yarumos_2013 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/yarumos/2013_yarumos.csv',encoding="utf-8", header=2)    
yarumos_2014 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/yarumos/2014_yarumos.csv',encoding="utf-8", header=2)    
yarumos_2015 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/yarumos/2015_yarumos.csv',encoding="utf-8", header=2)    
yarumos_2016 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/yarumos/2016_yarumos.csv',encoding="utf-8", header=2)    
yarumos_2017 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/yarumos/2017_yarumos.csv',encoding="utf-8", header=2)    
yarumos_2018 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/yarumos/2018_yarumos.csv',encoding="utf-8", header=2)    
yarumos_2019 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/yarumos/2019_yarumos.csv',encoding="utf-8", header=2)    
yarumos_2020 = pd.read_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/yarumos/2020_yarumos.csv',encoding="utf-8", header=2)

In [242]:
yarumos_2010_1.columns = yarumos_2010_1.columns.str.strip()
yarumos_2010_2.columns = yarumos_2010_2.columns.str.strip()
yarumos_2011.columns = yarumos_2011.columns.str.strip()
yarumos_2012.columns = yarumos_2012.columns.str.strip()
yarumos_2013.columns = yarumos_2013.columns.str.strip()
yarumos_2014.columns = yarumos_2014.columns.str.strip()
yarumos_2015.columns = yarumos_2015.columns.str.strip()
yarumos_2016.columns = yarumos_2016.columns.str.strip()
yarumos_2017.columns = yarumos_2017.columns.str.strip()
yarumos_2018.columns = yarumos_2018.columns.str.strip()
yarumos_2019.columns = yarumos_2019.columns.str.strip() 
yarumos_2020.columns = yarumos_2020.columns.str.strip()

In [243]:
yarumos = pd.concat([yarumos_2010_1,
        yarumos_2010_2,
        yarumos_2011,
        yarumos_2012,
        yarumos_2013,
        yarumos_2014,
        yarumos_2015,
        yarumos_2016,
        yarumos_2017,
        yarumos_2018,
        yarumos_2019,
        yarumos_2020,], axis = 0)

In [244]:
yarumos = yarumos[['Fecha', 'Hora', 'Temperatura(ºC)', 'Velocidad(m/s)', 'Direccion(º)', 'Presion(mmHg)', 'Humedad(%)',
                       'Precipitacion(mm)', 'Radiacion(W/m^2)','Evapotranspiracion(mm)','Precipitacion_Real', 'Evapo_real(mm)']]

In [115]:
yarumos.head(3)

,Fecha,Hora,Temperatura(ºC),Velocidad(m/s),Direccion(º),Presion(mmHg),Humedad(%),Precipitacion(mm),Radiacion(W/m^2),Evapotranspiracion(mm),Precipitacion_Real,Evapo_real(mm)
0,1/01/2010,0:02:26,11.94,1.78,94,589.42,90,90.17,0,41.67,0.0,0.0
1,1/01/2010,0:07:15,11.88,1.78,102,589.38,90,90.17,0,41.67,0.0,0.0
2,1/01/2010,0:12:34,11.88,1.78,91,589.28,90,90.17,0,41.67,0.0,0.0

In [245]:
yarumos = yarumos.replace("-", np.nan)  
yarumos = yarumos.apply(lambda x: x.str.replace(',',''))

In [246]:
yarumos.to_csv('C:/Users/pulzara/Documents/Universidad internacional de valencia/TFM/base de datos/SIMAC organizados/BD2/yarumos.txt', sep = '|', index=False, header=True)